*{
	margin: 0;
	padding: 0;
}

body{
	background: black;
	margin: auto;
	height: 100%;
	text-align:center;
}

#frame{
	width:90%;
	min-height: 100vh;
	overflow: auto;
	margin: auto;
	background-color: #fff;
}

article{
	width: 90%;
	padding-top: 5%;
	margin:inherit;
}

.current{
	color: ;
	text-decoration: underline;
}

ul li{

}

a{
	text-decoration: none;
	color:#000;
}


footer{
	bottom:0px;
	position:fixed;
	width: 80%;
}
/*Desktop screen*/
@media screen and (min-width: 800px) {
		#content{
			padding-left: 5%;
			margin:auto;
		}
		#frame{
			width:70%
		}
		footer{
			width: 60%;
		}
	}


}
