/*Fonts*/
@font-face {
}

/*imported*/
/*Google Vampiro One*/
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');


.header{
}


h1, h2, h3{
  text-align: center;
  font-family: 'Vampiro One', cursive;
}

p{
  font-family: 'Raleway', sans-serif;
}

h1{
  color: #967cb6;
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size:1em;
}

nav{
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}
